
.input-group mt-2 {
    background-color: ghostwhite;
}

.mr-2 {
    height: 30vh;
    width: 40vw;
    float: left;
    object-fit: cover;
    cursor: pointer;
}

.media {
    padding-bottom: 5mm;
}

.input-group-prepend {
    padding-bottom: 5mm;
}

.pagehead {
    position: relative;
    background-color: ghostwhite;
    overflow: hidden;
}

.pagehead:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/moreacorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.pagehead h1 {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    font-size: 6.5vh;
}

/*******************Menu Categories*************************/

.media-body {
    content: ' ';
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    height: 15vh;
    display: block;
    background-color: ghostwhite;
    overflow: visible;
}

.media-body h2 {
    padding: 5vh;
    text-align: center;
    position: center;
    z-index: 2;
    font-family: Georgia, serif;
    text-decoration: none;
    color: black;
}

.apps:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/apps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    pointer-events: none;

}

.drinks:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/drinks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.soups:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/soup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.entrees:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/entree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}


.desserts:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/dessert.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
