a.page {
    width: 25%;
    font-size: 12px;
    text-align: center;

}

.frame {
    border-top: 1px solid black;

}

img.icon {
    height: 5mm;
}

.icon {
    padding-top: 1mm;
}

.mr-2 {
    height: 30vh;
    width: 40vw;
    float: left;
    object-fit: cover;
    cursor: pointer;
}

.mt-0 mb-1 {
    float: none;
}

.media {
    padding-bottom: 5mm;
}

.input-group-prepend {
    padding-bottom: 5mm;
}

.pagehead {
    position: relative;
    background-color: ghostwhite;
    overflow: hidden;
}

.pagehead:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/moreacorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.pagehead h1 {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 6.5vh;
}

.media-body {
    content: ' ';
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    height: 15vh;
    display: block;
    background-color: ghostwhite;
    ;
    overflow: hidden;
}

.media-body h2 {
    padding: 5vh;
    text-align: center;
    position: center;
    z-index: 2;
    font-family: Georgia, serif;
}

.apps:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/apps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.drinks:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/drinks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.soups:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/soup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.entrees:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/entree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}


.desserts:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    height: 15vh;
    background-image: url("../images/dessert.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.pay {
    position: fixed;
    display: flex;
    justify-content: center;
    background: #ffcc00;
    bottom: 1cm;
    margin: 2mm;
    padding: 1mm;
    font-size: 4.2mm;
    border: 1px groove black;
    border-radius: 3px;
}

.container {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-top: 1px solid black;
    background-color: ghostwhite;
}

p {
    color: #7D7D7D;
    margin-bottom: 1mm;
    margin-top: 0;
    font-size: 2vh;
}

p.currentPage {
    color: black;
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    top: 0;
    padding-left: 2mm;
    padding-top: 1mm;
    padding-bottom: 1mm;
    border-bottom: 1px solid black;

}

.top-one img {
    height: 5mm;
    padding-right: 2mm;
}

.top-two {
    margin: auto;
    margin-left: 0;
    font-size: 5mm;
}