a.page {
    width: 25%;
    font-size: 12px;
    text-align: center;
    
}

.frame {
    border-top: 1px solid black;
    
}

img.icon {
    height: 5mm;
}

.icon {
    padding-top: 1mm;
}

.mr-2 {
    height: 30vh;
    width: 40vw;
    float: left;
    object-fit:cover;
    cursor: pointer;
}

.pay {
    position: fixed;
    display: flex;
    justify-content: center;
    background: #ffcc00;
    bottom: 1cm;
    margin: 2mm;
    padding: 1mm;
    font-size: 4.2mm;
    border: 1px groove black;
    border-radius: 3px;
}

.container {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-top: 1px solid black;
}

p {
    color: #7D7D7D;
    margin-bottom: 1mm;
    margin-top: 0;
    font-size: 2vh;
}

p.currentPage {
    color: black;
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    top: 0;
    padding-left: 2mm;
    padding-top: 1mm;
    padding-bottom: 1mm;
    border-bottom: 1px solid black;
    
}

.top-one img {
    height: 5mm;
    padding-right: 2mm;
}

.top-two {
    margin: auto;
    margin-left: 0;
    font-size: 5mm;
}