.welcome {
    background-image: url("../Images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8vh 11vh;
}

h1 {
    font-size: 6vh;
    color: white;
}

.later {
    position: absolute;
    bottom: 2vh;
    right: 4vw;
}